@model List<BookWeb.Models.AuthorViewModel>

<h1>Author List</h1>
<hr />

<table class="table table-striped table-hover table-bordered">
	<thead>
		<tr>
			<th style="width:30px">#</th>
			<th style="width:100px">Image</th>
			<th style="width:150px">FullName</th>
			<th>Biography</th>
			<th style="width:160px"></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var author in Model)
		{
			<tr>
				<td>@author.AuthorId</td>
				<td> <img src="/author/@author.ImageAuthor" width="80" /></td>
				<td>@author.FullName</td>
				<td>@author.Biography</td>
				<td>
					<a href="/author/authorupdate/@author.AuthorId" class="btn btn-primary btn-sm">Update</a>
					<form action="/author/authordelete" method="post" style="display: inline">
						<input type="hidden" name="authorId" value="@author.AuthorId" />
						<button type="submit" class="btn btn-danger btn-sm">Delete</button>
					</form>
				</td>
			</tr>
		}
	</tbody>
</table>
