@model ErrorViewModel
@{
	ViewData["Title"] = "Error";
}

<div id="carouselExampleIndicators" class="carousel slide" style="margin: auto;">
	<div class="carousel-inner">
		<div class="carousel-item active">
			<img src="/img/ErrorPage1.png" class="d-block w-100" alt="Error Page - Sorry, something went wrong">
		</div>
		<div class="carousel-item">
			<img src="/img/ErrorPage2.png" class="d-block w-100" alt="Error Page - Sorry, something went wrong">
		</div>
		<div class="carousel-item">
			<img src="/img/ErrorPage3.png" class="d-block w-100" alt="Error Page - Sorry, something went wrong">
		</div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="visually-hidden">Next</span>
	</button>
</div>
