@model List<Genre>


<h2>
	📚 We are happy to serve you as the team behind this project, under the umbrella of BookWeb.
</h2>
<p>
	📚 BookWeb is a platform that offers book lovers the opportunity to discover their favorite books. We aim to provide the best experience to our users by combining passion for books with quality content.
</p>
<p>
	📚 As BookWeb, we strive to examine each book in detail and provide the most accurate information to our users. When putting together book covers, we believe that each one reflects its own unique story and atmosphere. By thoroughly analyzing each book, we aim to help our 👥 users make the right choices.
</p>
<p>
	At the same time, as the BookWeb team, we always prioritize our passion for the world of books. Each of us loves to research and discover different types of books 📖. This passion motivates us to take our project even further.🎉
</p>
<p>
	📝 If you have any feedback or questions, feel free to contact us💬. We look forward to further developing the BookWeb platform with you.
</p>
<p>
	🔍 We wish you pleasant reading!<br>
	🌟 Regards,<br>
	<a href="/home/index">BookWeb</a> Team
</p>


@section menu
{
	@* @await Html.PartialAsync("_menu", Model) *@
	@await Component.InvokeAsync("Genres")
}