@model HomePageViewModel

@section header
{
    @await Html.PartialAsync("_header")
}

<h1>Kitap Listesi</h1>
<hr />

<div id="kitaplar">
	@foreach (var book in Model.PopularBooks)
	{
		@await Html.PartialAsync("_book", book)
	}
</div>
