@model HomePageViewModel

@section header
{
    @await Html.PartialAsync("_header")
}

<h1>Kitap Listesi</h1>
<hr />

<div id="filmler">
	@foreach (var movie in Model.PopularBooks)
	{
		@await Html.PartialAsync("_book", movie)
	}
</div>
