@*-- Jumbotron alanı --*@
<div class="bg-light p-5" style="background-image: url(/img/background.jpg); background-size: 100% 200%; background-position: top;">
	<div class="container">
		<h1 class="display-4 text-white"> Welcome! </h1>
		<p class="lead text-white">
			BookWeb is made for book lovers! 🎉
			<br />
			Join this exciting book journey and discover new things every time you visit.🔍
			<br />
			🌟 Enjoyable discoveries! 🌟
		</p>
	</div>
</div>