@*-- Jumbotron alanı --*@
<div class="bg-light p-5" style="background-image: url(/img/background.jpg); background-size: 100% 200%; background-position: top;">
	<div class="container">
		<h1 class="display-4 text-white"> Hoş Geldiniz! </h1>
		<p class="lead text-white">
			BookWeb, kitap tutkunları için hazırlanmıştır! 🎉
			<br />
			Siz de bu heyecan verici kitap yolculuğuna katılın ve her ziyaretinizde yeni şeyler keşfedin.🔍
			<br />
			🌟 Keyifli gezintiler! 🌟
		</p>
	</div>
</div>