<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarToggler">
			@* <a href="/" class="navbar-brand">BookWeb</a> *@
			<a href="/" class="navbar-brand"><img src="/img/logo.png" width="40" height="40"></a>
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">

				@*Authenticated olmadığı sürece navbarda bir uyarı geçsin*@
				@if (!User.Identity!.IsAuthenticated)
				{
					<li class="nav-item">
						Book Web - Digital Library
					</li>
				}

				@if (User.Identity!.IsAuthenticated)
				{
					<li class="nav-item">
						<a href="/books/list" class="nav-link">Books</a>
					</li>
				}
				@if (User.Identity!.IsAuthenticated && User.IsInRole("admin"))
				{
					<li class="nav-item">
						<a href="/admin/booklist" class="nav-link">Panel Books</a>
					</li>
					<li class="nav-item">
						<a href="/admin/bookcreate" class="nav-link">Create Book</a>
					</li>
					<li class="nav-item">
						<a href="/admin/genrelist" class="nav-link">Panel Genres</a>
					</li>
					<li class="nav-item">
						<a href="/author/authorlist" class="nav-link">Author</a>
					</li>
					<li class="nav-item">
						<a href="/author/authorcreate" class="nav-link">Author Create</a>
					</li>
					<li class="nav-item">
						<a href="/users/index" class="nav-link">Users</a>
					</li>
					<li class="nav-item">
						<a href="/roles/index" class="nav-link">Roles</a>
					</li>
					<li class="nav-item">
						<a href="/admin/relationship" class="nav-link">Relationships</a>
					</li>
				}
			</ul>

			<ul class="navbar-nav ms-auto">
				@if (User.Identity!.IsAuthenticated)
				{
					<li class="nav-item">
						<a href="/Account/Profile" class="badge text-bg-success text-wrap" style="width: 6rem; font-size: 0.9rem; vertical-align: middle; line-height: 20px;">
							<i class="bi bi-person-fill"></i>@User.Identity.Name
						</a>
					</li>

					<li class="nav-item ms-2">
						<a href="/account/logout" class="nav-link"><i class="bi bi-person-fill-slash"></i> Logout</a>
					</li>

				}
				else
				{
					<li class="nav-item">
						<a href="/account/login" class="nav-link"><i class="bi bi-person-check-fill"></i> Login</a>
					</li>
					<li class="nav-item ms-2">
						<a href="/account/register" class="nav-link"><i class="bi bi-person-plus"></i> Register</a>
					</li>
				}
			</ul>

			<div style="width: 20px;"></div>
			@if (User.Identity!.IsAuthenticated)
			{
				<form action="/books/list" method="get" class="d-flex">
					<input type="text" name="q" placeholder="Search for Books" class="form-control me-2" />
					<button type="submit" class="btn btn-outline-light mr-0"><i class="bi bi-search"></i></button>
				</form>
			}

		</div>
	</div>
</nav>
